 import time
 import random
 
 #game function
 def game():
 
 print ("~.~.~.~.~.~.")
 print ("Welcome to Sto Sara")
 print ("~.~.~.~.~.~.")
 
 time.sleep(3)
 
 print ("Sara the scientest is planning to destroy the sun.Sara's sister Sally figured out her plan along with the missing items.Help Sally stop Sara from destroying the sun.Get ready set go save the world.")
 ch1 = str(input("Do you want to start?[y/n]:"))
 
 #LEVEL ONE
 if ch1 in['y','Y','Yes','YES',''Yes','yes']:
 print("Sadly this is no easy journey.You have to defeat a nature dragon using only an ice gun and firey bow and arrow.To activate the ice gun press I.To activate the bow and arrow press B.Get ready set fight fight fight.")
 ch2 = str(input("press I or B"))

#ICE GUN
if ch2 in ['i','I']
print("🐲 ~~~~~~~🔫")
 
 #FIREY BOW AND ARROW
 if ch2 in['b','B']
 print("🐲 ~~~~~~~♐")
 
 #LEVEL TWO
print("Congrats you made it top level two!You have got the first item.But something has happened Sara's friend Sana just happened to have a dragon egg lying around her house and gave it to Sara.But not all hope is lost you can still get the pheonix feather Type Next to continue.")
if ch3 in['next','Next','NEXT']
 print("Next you have to get the phoenix feather. You have to climb to the top of Boom Boom Mountain. Press C to climb or S to search around and find an easier way to the top")
 if ch4 in ['c','C']
 if ch5 in ['s','S']
     else:
     print("You have chosen to search. While your walking you found a car! Would you like to drive it or continue to search? To continue searching press S, to drive press D")
if ch5 in ['D','d']  
print("While your driving you see a book do you wish to grab the book and bring it with you or run over it? Press D to continue driving or P to pick yopu the book")
if ch6 in [
