 import time
 import random
 
 #game function
 def game():
 
 print ("~.~.~.~.~.~.")
 print ("Welcome to stop sara")
 print ("~.~.~.~.~.~.")
 
 time.sleep(3)
 
 print ("Sara the scientest is planning to destroy the sun.Sara's sister Sally figured out her plan along with the missing items.Help Sally stop Sara from destroying the sun.Get ready set go save the world.")
 ch1 = str(input("Do you want to start?[y/n]:"))
 
 #STOP SARA
 if ch1 in['y','Y','Yes','YES',''Yes','yes']:
 print("Sadly this is no easy journey.You have to defeat a nature dragon using only an ice gun and firey bow and arrow.To activate the ice gun press I.To activate the bow and arrow press B.Get ready set fight fight fight.")
 ch2=str(input("press I or B"))
 
#ICE GUN
if ch2 in['i','I']
print ("🐲 ~~~~~~~~🔫")

